In [1]:
# Importing required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE
import plotly.graph_objs as go
import plotly .offline as offline
import plotly.figure_factory as ff

In [2]:
# Importing dataset through Pandas
df = pd.read_csv("../datasets/Patches.csv")
df.head()

,Elevation,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Horizontal_Distance_To_Fire_Points,Tree
0,2596,3,258,0,510,6279,Other
1,2590,2,212,-6,390,6225,Other
2,2804,9,268,65,3180,6121,Other
3,2785,18,242,118,3090,6211,Other
4,2595,2,153,-1,391,6172,Other

In [3]:
# Shape of the dataset
print(df.shape)

(15120, 7)

In [4]:
# info of dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 7 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Elevation                           15120 non-null  int64
 1   Slope                               15120 non-null  int64
 2   Horizontal_Distance_To_Hydrology    15120 non-null  int64
 3   Vertical_Distance_To_Hydrology      15120 non-null  int64
 4   Horizontal_Distance_To_Roadways     15120 non-null  int64
 5   Horizontal_Distance_To_Fire_Points  15120 non-null  int64
 6   Tree                                15120 non-null  object
dtypes: int64(6), object(1)
memory usage: 827.0+ KB
None

In [6]:
# Description of dataset
df.describe()

,Elevation,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Horizontal_Distance_To_Fire_Points
count,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000
mean,2749.322553,16.501587,227.195701,51.076521,1714.023214,1511.147288
std,417.678187,8.453927,210.075296,61.239406,1325.066358,1099.936493
min,1863.000000,0.000000,0.000000,-146.000000,0.000000,0.000000
25%,2376.000000,10.000000,67.000000,5.000000,764.000000,730.000000
50%,2752.000000,15.000000,180.000000,32.000000,1316.000000,1256.000000
75%,3104.000000,22.000000,330.000000,79.000000,2270.000000,1988.250000
max,3849.000000,52.000000,1343.000000,554.000000,6890.000000,6993.000000